.nav-spacing {
        color: blue;
        text-decoration: none;
        margin-left: 10px;
      }
      .nav-menu {
        text-align: right;
      }
      .image-link {
        text-decoration: none;
      }